.mainBtn > button {
    width: 300px;
    margin-right: 20px;
    margin-left: 20px;
}

.mainBtn {
    display: flex;
    justify-content: center;

}

.reportForDay {
    margin-top: 20px;
}

.report > span {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;

    box-sizing: border-box;
    display: block;

}

.report > form > button{
    margin-left: 10px;
}

.input {
    margin-right: 30px;
}

.categoryParameters {
    margin-right: 10px;
}

.infoReport{
    margin-top: 10px;
}

.totalEarning{
    font-weight: bold;
    font-size: 25px;
}

.reportDiv{
    display: flex;
    margin-bottom: 10px;
}

.reportDiv>div{
    width: 250px;
    font-size: 20px;
}
